div#files {
    font-family: monospace;
}

div#files a {
    text-decoration: none;
}

div#files a:hover {
    text-decoration: underline;
}

div#files ul {
    list-style-type: none;
}

form#files_upload input#file {
    width: auto;
}

form#files_upload input#submit {
    width: 8em;
}
